<div class="border-bottom mb-4">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="/" class="fs-4 text-decoration-none flex-grow-1">
        نظام ادارة المخازن
      </a>

      <ul class="nav nav-pills">
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/" class="nav-link">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            class="nav-link"
            routerLink="/inventory/products"
            >المنتجات</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            class="nav-link"
            routerLink="/inventory/products/categories"
            >الاصناف</a
          >
        </li>
      </ul>
    </header>
  </div>
</div>
