<div class="border-bottom mb-4">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="/" class="fs-4 text-decoration-none flex-grow-1">
        Simple header
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">الرئيسية</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">المنتجات</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
</div>
