<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-success"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            المعملات المالية
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>بيع مباشر</button>
            <button ngbDropdownItem>بيع بالاجل</button>
            <button ngbDropdownItem>مردودات المبيعات</button>
          </div>
        </div>
        <button class="btn btn-outline-info">
          عميل جديد

          <i class="ri-add-line"></i>
        </button>
      </div>
      <div class="card-header">
        <div ngbDropdown class="mb-2">
          <button
            type="button"
            class="btn btn-sm btn-outline-info btn-block"
            ngbDropdownToggle
          >
            تصفية العملاء
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>عميل جديد</button>
            <li class="dropdown-divider"></li>
            <button ngbDropdownItem>بيع مباشر</button>
            <button ngbDropdownItem>بيع بالاجل</button>
            <button ngbDropdownItem>مردودات المبيعات</button>
          </div>
        </div>
        <div class="search-box">
          <input
            type="text"
            class="form-control form-control-sm search"
            placeholder="  ابحث عن عميل ..."
          />
          <i class="ri-search-line search-icon"></i>
        </div>
      </div>
      <div class="card-body table-scroll">
        <table class="table table-striped table-hover table-bordered table-sm">
          <thead class="text-muted bg-soft-light">
            <tr>
              <th>الاسم</th>
              <th>الرصيد</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
            <tr>
              <td>Mark Otto</td>
              <td>{{ 3500 | number }}</td>
            </tr>
            <tr>
              <td>Jacob Thornton</td>
              <td>{{ 4500 | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="card">
      <div class="card-header align-items-center d-flex">
        <h2 class="mb-0 flex-grow-1">Natasha Carey</h2>
        <div class="flex-shrink-0 d-flex gap-2">
          <a
            href="javascript:void(0);"
            class="bg-soft-success text-success fs-15 rounded p-2"
          >
            <i class="ri-phone-line"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="bg-soft-danger text-danger fs-15 rounded p-2"
          >
            <i class="ri-mail-line"></i>
          </a>
          <a
            href="javascript:void(0);"
            class="bg-soft-warning text-warning fs-15 rounded p-2"
          >
            <i class="ri-question-answer-line"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">الايميل</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">هاتف</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">موبايل</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">العنوان</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">الموقع الالكتروني</p>
              </div>
              <div class="col-sm-7">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-5">
                <p class="mb-0">ملاحظلات</p>
              </div>
              <div class="col-sm-7">
                <p class="text-muted mb-0">لا توجد</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <ag-grid-angular
          style="width: 100%; height: 350px"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [enableRtl]="true"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
