<div class="card">
  <div class="card-header">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-success"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        المعملات المالية
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>بيع مباشر</button>
        <button ngbDropdownItem>بيع بالاجل</button>
        <button ngbDropdownItem>مردودات المبيعات</button>
      </div>
    </div>
  </div>
</div>
