<div class="card">
  <div class="card-header">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-success"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        المعملات المالية
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>بيع مباشر</button>
        <button ngbDropdownItem>بيع بالاجل</button>
        <button ngbDropdownItem>مردودات المبيعات</button>
      </div>
    </div>
  </div>
</div>
<ag-grid-angular
  style="width: 100%; height: 80vh"
  class="ag-theme-alpine"
  [rowData]="[]"
  [columnDefs]="columnDefs"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [defaultColDef]="defaultColDef"
  [enableRtl]="true"
></ag-grid-angular>
