<div class="card mb-3">
  <div class="card-header border-0">
    <div class="row g-4">
      <div class="col">
        <div class="d-flex justify-content-sm-start">
          <input
            type="search"
            type="text"
            placeholder="اسم المنتج"
            class="form-control form-control-sm"
            (keyup)="onFilter($event)"
          />
        </div>
      </div>
      <div class="col d-flex">
        <p class="mt-2 ms-1">عرض:</p>
        <div>
          <select class="form-select" aria-label="Default select example">
            <option selected (click)="handlPageSizeSelection(10)" [value]="10">
              10
            </option>
            <option (click)="handlPageSizeSelection(20)" [value]="20">
              20
            </option>
            <option (click)="handlPageSizeSelection(30)" [value]="30">
              30
            </option>
            <option (click)="handlPageSizeSelection(40)" [value]="40">
              40
            </option>
            <option (click)="handlPageSizeSelection(50)" [value]="50">
              50
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div style="text-align: left">
          <button
            (click)="createEntity()"
            class="btn btn-success"
            id="addproduct-btn"
          >
            <i class="ri-add-line align-bottom me-1"></i> إضافة منتج
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
@let products = fliterdEntites; @if (!isLoading && !isError) {
<div class="card">
  <div class="card-body">
    <table [hidden]="isLoading" class="table table-striped table-bordered">
      <thead>
        <tr class="table-secondary">
          <th scope="col">الاسم</th>
          <th scope="col">السعر</th>
          <th scope="col">الكمية</th>
          <th scope="col">التكلفة</th>
          <th scope="col">النوع</th>
          <th scope="col">التاريخ</th>
          <th scope="col">تعديل</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products ; track product.id; let i = $index) {
        <tr>
          <td style="width: 18%">{{ product.name }}</td>
          <td style="min-width: 90px">{{ product.price | number }}</td>
          <td style="min-width: 90px">{{ product.stock | number }}</td>
          <td style="min-width: 90px">{{ product.cost | number }}</td>
          <td style="min-width: 90px">{{ product.category }}</td>
          <td style="min-width: 90px">
            {{ product.published | date : "short" }}
          </td>
          <td>
            <div ngbDropdown container="body">
              <button
                class="btn btn-secondary btn-sm dropdown"
                type="button"
                ngbDropdownToggle
              >
                تعديل
              </button>
              <ul ngbDropdownMenu>
                <li>
                  <button
                    (click)="editEntry(product)"
                    class="dropdown-item"
                    href="#"
                  >
                    <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                    تعديل
                  </button>
                </li>
                <li>
                  <button
                    (click)="onDelete(product, i)"
                    class="dropdown-item"
                    href="#"
                  >
                    <i
                      class="ri-delete-bin-fill align-bottom me-2 text-danger"
                    ></i>
                    مسح
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        } @empty {
        <!-- No Data -->
        <tr>
          <td class="alert alert-warning text-center">
            لم يتم إضافة اي منتجات بعد
          </td>
        </tr>
        }
      </tbody>
    </table>
    <!-- No search results -->
    <div
      class="alert alert-warning text-center"
      *ngIf="fliterdEntites.length === 0 && entities.length > 0 && !isError"
    >
      لاتوجد نتائج بحث
    </div>
  </div>
</div>
} @else { @if (isError) {
<!-- Server Error-->
<div class="alert alert-danger text-center" *ngIf="isError">
  خطأ في الاتصال بالسيرفر, اضغط
  <button class="btn" href="#" (click)="fetchEntities()">
    هنا للمحاولة مرة اخرى
  </button>
</div>
} @else {
<!-- Loading -->
<app-spinner></app-spinner>
} }

<app-create-product-modal></app-create-product-modal>
