<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-success"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            المعملات المالية
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>بيع مباشر</button>
            <button ngbDropdownItem>بيع بالاجل</button>
            <button ngbDropdownItem>مردودات المبيعات</button>
          </div>
        </div>
        <button (click)="openCreateModal()" class="btn btn-outline-info">
          عميل جديد

          <i class="ri-add-line"></i>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <form [formGroup]="filterForm">
          <select
            formControlName="type"
            role="button"
            class="form-select form-select-sm mb-3"
            aria-label="Default select example"
          >
            <option selected value="all">كل العملاء</option>
            <option value="withOpenBalance">العملاء برصيد مفتوح</option>
          </select>
          <div class="search-box">
            <input
              formControlName="name"
              type="text"
              class="form-control form-control-sm search"
              placeholder="  ابحث عن عميل ..."
            />
            <i class="ri-search-line search-icon"></i>
          </div>
        </form>
      </div>
      <div class="card-body table-scroll">
        <ng-container *ngIf="isDataLoaded; else loading">
          <ng-container *ngIf="filterdAccountsSummary.length > 0; else noData">
            <table
              class="table table-striped table-hover table-bordered table-sm"
            >
              <thead class="text-muted bg-soft-light">
                <tr>
                  <th>الاسم</th>
                  <th>الرصيد</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="cursor: pointer; user-select: none"
                  (click)="onSelect(account.user_id)"
                  *ngFor="let account of filterdAccountsSummary"
                >
                  <td>{{ account.name }}</td>
                  <td>{{ account.balance | number }}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noData>
            <div class="text-center">
              <img
                src="assets/images/users/user-dummy-img.jpg"
                alt="لا يوجد عملاء"
                class="img-fluid"
                width="100"
              />
              <h4 class="mt-4">لا يوجد عملاء</h4>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #loading>
          <app-spinner></app-spinner>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <app-client-info-card
      [client]="selectedClient"
      [isLoading]="isLoading"
      (edit)="openEditModal()"
    ></app-client-info-card>
  </div>
</div>
