/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./assets/scss/config/creative/bootstrap.scss";
@import "./assets/scss/config/creative/app.scss";
@import "./assets/scss/icons.scss";

@font-face {
  font-family: "AraJozoor"; /*a name to be used later*/
  src: url("./assets/fonts/AraJozoor-Regular.ttf"); /*URL to font*/
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AraJozoor";
}

select {
  cursor: pointer;
}
